<section id="fh5co-hero" class="js-fullheight" style="background-image: url('./assets/template/images/nav_bg.jpg');" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
    
   
    
      <div class="fh5co-intro js-fullheight">
        <div class="fh5co-intro-text">
          <!-- 
            INFO:
            Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
            Example:
            <div class="fh5co-right-position">
          -->
          <div class="fh5co-left-position">
            <h2 class="animate-box">vivre heureux<br />...vivre nature</h2>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="fh5co-learn-more animate-box">
      <a href="#" class="scroll-btn">
        <span class="text">(voyages)</span>
        <span class="arrow"><i class="icon-chevron-down"></i></span>
      </a>
    </div>
    
    <app-toastr></app-toastr>
    
  </section>
  <!-- END #fh5co-hero -->