<section id="fh5co-projects">

<!-- Un voyage a été trouvé -->

<div *ngIf="trip" class="box">
<div class="row col-sm-6">


<div class="card fh5co-project-item image-popup">
	<div class="image">
  		<img class="card-img-top" src = "./assets/template/images/{{ trip.image }}" alt="Card image cap">
  	</div>
  	
  <div class="card-body fh5co-text">
    <h2 class="card-title">{{ trip.title }}</h2>
    <p class="card-text">{{ trip.activity }}</p>
    
    <a class="btn btn-primary" style="margin-left: 1px; margin-right: 1px" (click)="goBack()">Retour</a>
    <a class="btn btn-primary" style="margin-left: 1px; margin-right: 1px" (click)="goEdit(trip)">Editer</a>
    <a class="btn btn-primary" style="margin-left: 1px; margin-right: 1px" (click)="delete(trip)">Supprimer</a>

  </div>
</div>

</div>
</div>


<!-- Aucun voyage n'a été trouvé -->
<h4 *ngIf='!trip' class="center">
  Aucun voyage n'a été trouvé
</h4>

</section>
