<section id="fh5co-projects">
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-lead">Rêve ou réalité ?</h2>
						<p class="fh5co-sub-lead">Au loin, derrière les montagnes, les mers, les océans, les îles ... loin des pays féériques et imaginaires : la réalité de nos rêves merveilleux est présente, elle attend que nous la découvrions, il suffit juste de la désirer, de la rechercher et surtout de la préserver.</p>
					</div>
        </div>
        
				<div class="row">
					
					<div *ngFor="let trip of trips" class="col-md-4 col-sm-6 col-xxs-12">
						<a href="#" class="fh5co-project-item image-popup">
							<img src="./assets/template/images/{{ trip.image }}" alt="Image" class="img-responsive">
							<div class="fh5co-text">
								<h2>{{ trip.title }}</h2>
								<p>{{ trip.activity }}</p>
							</div>
						</a>
					</div>
 
				</div>	

			</div>
		</section>
		<!-- END #fh5co-projects -->




